<div class="sessions_container">
	<%= form_tag sessions_path do %>
	  <%= password_field_tag :admin_token %>
	  <%= button_to "+", action: "create" %>
	<% end %>
	<%= button_to "-", sessions_path, method: :delete %>
</div>
