<% @article.comments.each do |c| %>
	<p>
		<strong>Commenter:</strong>
		<%= c.commenter %>	
	</p>	
	<p>
		<strong>Body:</strong>
		<%= c.body %>
	</p>	
<% end %>

<%= link_to "destroy", [comment.article, comment], method: :delete, data: { confirm: "Are you sure?" } %>