= javascript_include_tag Ckeditor.cdn_url

= form_for @article do |f|
  .title = f.text_field :title, size: "50", placeholder: "title", autocomplete: "off"
  = f.cktext_area :content, value: 'Default value', id: 'sometext'
