<div id="name">Renny Ren</div>

<div class="typedjs">
  <p id="motto"></p>
</div>

<script src="typed.js"></script>
<script>$(function(){ $("#motto").typed({ strings: ['不忘初心　方得始终'] }); });</script>

<%= link_to "new article", new_article_path %>