<div class="container">
  <div id="name">Renny Ren</div>

  <div class="typedjs"><p id="motto"></p></div>

  <script src="typed.js"></script>
  <script>$(function(){ $("#motto").typed({ strings: ['不忘初心　方得始终','这哥们天天研究怎么长胖，多年过去后，这哥们越来越瘦。'] }); });</script>
</div>