<div class="photo">
  <%= image_tag 'wanted.png', style: "position: absolute;" %>
  <div class="jR3DCarouselGallery"></div>
</div>

<div class="piano_video">
  <embed src='http://player.youku.com/player.php/sid/XMTMxNDE2NDgxNg==/v.swf' allowFullScreen='true' quality='high' width='480' height='400' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
</div>