<%= image_tag 'about_background4.jpg', style: "position: fixed; width: 100%; height: 100%; z-index: -1;", class: "bk" %>
<div class="about_content">
  <h2>私について</h2>

  <p>&nbsp&nbsp私はにんしゅんこです、しせんだいがくの三年生です。"ONE PIECE"が好きです、ケルト人ファンです。
  <br/>&nbsp&nbsp私の梦はプログラマーになることです、今顽张っています。</p>

  <h2>技術リスト</h2>

  <p>&nbsp&nbsp言語とフレーム： Pascal, C, C#, Visual Basic, ASP.NET, Ruby, Rails, Sinatra, HTML, CSS, JavaScript, JQuery...</p>
  <p>&nbsp&nbspデータベース： mysql, sql server, redis</p>
  <p>&nbsp&nbspサーバー配置： Nginx, Passenger, Puma, Unicorn, Docker, Jenkins</p>
  <p>&nbsp&nbspゲーム ： RPGMaker, Unity3d</p>
  <p>&nbsp&nbspアプリ： Office, Flash, PhotoShop, 3dmax, Video Studio...</p>

  <h2>作業歴</h2>

  <p>&nbsp&nbsp2016.10 - 2017.03</p>
  <p>&nbsp&nbsp<%= link_to '成都我来啦网格信息技术有限公司', "http://sposter.net/" %></p>

  <p>&nbsp&nbsp2017.05 - 今</p>
  <p>自由職業者</p>

  <h2>趣味</h2>

  <p>&nbsp&nbspバスケットボール、技術、解読、音楽、ピアノ、書道、ルービックキューブ</p>

  <%= render partial: "pic" %>

  <h2 style="padding-top: 4em;">連絡方式</h2>
  &nbsp&nbsp<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=267286753&site=qq&menu=yes"><img border="0" src="/qq.png" alt="send QQ message" title="send QQ message" height="50px" width="50px"></a>

  &nbsp&nbsp<img src="/wechat.png" alt="contact by wechat" title="contact by wechat" onclick="openWindow()" style="cursor: pointer; height: 50px; width: 50px;" />

  <div id="black_overlay" onclick="closeWindow()"></div>
  <%= image_tag 'wechat_add.png', id: "wechat" %>

  <p>&nbsp&nbspEmail: rennyallen@hotmail.com</p>
</div>
