<%= image_tag 'about_background4', style: "position: absolute; width: 100%; height: 141%;" %>
<div class="about_container">

  <!-- <%= image_tag 'frame.png', class: "frame" %> -->
  <div class="about_content">
    <%= image_tag 'wanted.png', class: "wanted" %>
    <h2 style="margin-right: 47em;">关于我</h2>

    <p>任峻宏(Allen)， 四川大学锦城学院大三在读学生， OP迷，凯尔特人球迷, 搬砖码农一枚。 目前在成都某公司实习ruby服务端开发。</p>
    
    <h2>兴趣爱好</h2>
    
    <p>篮球， 技术， 破解， 音乐， 钢琴， 书法， 魔方</p>
    
    <div class="jR3DCarouselGallery"></div>

    <!-- <embed src='http://player.youku.com/player.php/sid/XMTMxNDE2NDgxNg==/v.swf' allowFullScreen='true' quality='high' width='480' height='400' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed> -->

    <h2 style="margin-right: 47em;">技术栈</h2>

    <p>语言及框架： Pascal, C, C#, Visual Basic, ASP.NET, Ruby, Rails, Sinatra, HTML, CSS, JavaScript, JQuery...</p>
    <p>数据库： mysql, sql server, redis</p>
    <p>服务器部署： Nginx, Passenger, Jenkins, God</p>
    <p>游戏： RPGMaker, Unity3d</p>
    <p>应用软件： Office, Flash, PhotoShop, 3dmax, Video Studio...</p>

    <h2>工作经历</h2>

    <p>2016.10-至今</p>
    <p><%= link_to '成都我来啦网格信息技术有限公司', "http://sposter.net/" %></p>
  </div>
</div>

