<%= image_tag 'about_background4.jpg', style: "position: fixed; width: 100%; height: 100%; z-index: -1;" %>
<div class="about_content">
  <h2>About Me</h2>

  <p>I'm Renny Allen, a graduate of SiChuan University. I'm a Celtic fan, I like "ONE PIECE". 
  <br /> I love programming, aiming to be a full-stack developer.</p>

  <h2>Technic List</h2>

  <p>Language and Framework： Pascal, C, C#, Visual Basic, ASP.NET, Ruby, Rails, Sinatra, HTML, CSS, JavaScript, JQuery...</p>
  <p>Database： mysql, sql server, redis</p>
  <p>Server and Deployment： Nginx, Passenger, Puma, Unicorn, Docker, Jenkins</p>
  <p>Game： RPGMaker, Unity3d</p>
  <p>Application： Office, Flash, PhotoShop, 3dmax, Video Studio...</p>

  <h2>Work Experience</h2>

  <p>Oct. 2016 - now</p>
  <p><%= link_to '成都我来啦网格信息技术有限公司', "http://sposter.net/" %></p>
  
  <h2>Hobbies</h2>

  <p>Basketball, Technology, Music, Piano, Calligraphy, Cube</p>

  <%= render partial: "pic" %>

</div>
