<div class="about">
  <p>这哥们天天研究怎么长胖，多年过去后，这哥们越来越瘦。</p>

  <h2>关于我</h2>

  <p>任峻宏，四川大学锦城学院大三在读学生，搬砖码农一枚，目前在成都某公司实习ruby服务端开发。</p>

  <h2>兴趣爱好</h2>

  <p>篮球，钻研感兴趣的技术，破解，音乐，钢琴，书法，魔方</p>

  <h2>技术栈</h2>

  <p>语言及框架：C/C#/Visual Basic/Pascal/.NET/Ruby/Rails/Sinatra/html/css/javascript/jquery</p>
  <p>数据库：mysql/sql server/redis</p>
  <p>服务器部署：Nginx, Passenger, Jenkins, God</p>
  <p>游戏：RPGMaker/Unity3d</p>
  <p>应用软件：flash/photoshop/office/3dmax/video studio/</p>

  <h2>工作经历</h2>

  <p>2016.10-至今</p>
  <p><%= link_to '成都我来啦网格信息技术有限公司', "http://sposter.net/" %></p>
</div>