<%= image_tag 'about_background4.jpg', style: "position: fixed; width: 100%; height: 100%; z-index: -1;", class: "bk" %>
<div class="about_content">
  <h2>关于我</h2>

  <p>&nbsp&nbsp我叫任峻宏 (Allen)， 四川大学锦城学院大三在读学生， OP迷，凯尔特人球迷。
  <br/>&nbsp&nbsp搬砖码农一枚， 目前在成都某公司实习 ruby 服务端开发。</p>

  <h2>技术栈</h2>

  <p>&nbsp&nbsp语言及框架： Pascal, C, C#, Visual Basic, ASP.NET, Ruby, Rails, Sinatra, HTML, CSS, JavaScript, JQuery...</p>
  <p>&nbsp&nbsp数据库： mysql, sql server, redis</p>
  <p>&nbsp&nbsp服务器部署： Nginx, Passenger, Puma, Unicorn, Docker, Jenkins</p>
  <p>&nbsp&nbsp游戏： RPGMaker, Unity3d</p>
  <p>&nbsp&nbsp应用软件： Office, Flash, PhotoShop, 3dmax, Video Studio...</p>

  <h2>工作经历</h2>

  <p>&nbsp&nbsp2016.10-至今</p>
  <p>&nbsp&nbsp<%= link_to '成都我来啦网格信息技术有限公司', "http://sposter.net/" %></p>

  <h2>兴趣爱好</h2>

  <p>&nbsp&nbsp篮球， 技术， 破解， 音乐， 钢琴， 书法， 魔方</p>

  <%= render partial: "pic" %>
</div>
