<%= image_tag 'about_background4.jpg', style: "position: fixed; width: 100%; height: 100%; z-index: -1;" %>
<div class="about_content">
  <h2>私について</h2>

  <p>私はにんしゅんこです、しせんだいがくの三年生です。"ONE PIECE"が好きです、ケルト人ファンです。
  <br/>私の梦はプログラマーになることです、今顽张っています。</p>

  <h2>技術リスト</h2>

  <p>言語とフレーム： Pascal, C, C#, Visual Basic, ASP.NET, Ruby, Rails, Sinatra, HTML, CSS, JavaScript, JQuery...</p>
  <p>データベース： mysql, sql server, redis</p>
  <p>サーバー配置： Nginx, Passenger, Puma, Unicorn, Docker, Jenkins</p>
  <p>ゲーム ： RPGMaker, Unity3d</p>
  <p>アプリ： Office, Flash, PhotoShop, 3dmax, Video Studio...</p>

  <h2>作業歴</h2>

  <p>2016.10 - 今</p>
  <p><%= link_to '成都我来啦网格信息技术有限公司', "http://sposter.net/" %></p>

  <h2>趣味</h2>

  <p>バスケットボール、技術、解読、音楽、ピアノ、書道、ルービックキューブ</p>

  <%= render partial: "pic" %>
</div>
