<%= image_tag 'about_background4.jpg', style: "position: fixed; width: 100%; height: 100%; z-index: -1;", class: "bk" %>
<div class="about_content">
  <h2>About Me</h2>

  <p>&nbsp&nbspI'm Renny Allen, a graduate of SiChuan University. I'm a Celtic fan, I like "ONE PIECE". 
  <br />&nbsp&nbspI love programming, aiming to be a full-stack developer.</p>

  <h2>Technic List</h2>

  <p>&nbsp&nbspLanguage and Framework： Pascal, C, C#, Visual Basic, ASP.NET, Ruby, Rails, Sinatra, HTML, CSS, JavaScript, JQuery...</p>
  <p>&nbsp&nbspDatabase： mysql, sql server, redis</p>
  <p>&nbsp&nbspServer and Deployment： Nginx, Passenger, Puma, Unicorn, Docker, Jenkins</p>
  <p>&nbsp&nbspGame： RPGMaker, Unity3d</p>
  <p>&nbsp&nbspApplication： Office, Flash, PhotoShop, 3dmax, Video Studio...</p>

  <h2>Work Experience</h2>

  <p>&nbsp&nbspOct. 2016 - now</p>
  <p>&nbsp&nbsp<%= link_to '成都我来啦网格信息技术有限公司', "http://sposter.net/" %></p>
  
  <h2>Hobbies</h2>

  <p>&nbsp&nbspBasketball, Technology, Music, Piano, Calligraphy, Cube</p>

  <%= render partial: "pic" %>

</div>
