@font-face {
  font-family: 'BrushScriptMT';
  src: url('fonts/BrushScriptMT.eot');
  src: url('fonts/BrushScriptMT.eot?#iefix') format('embedded-opentype'),
       url('fonts/BrushScriptMT.woff') format('woff'),
       url('fonts/BrushScriptMT.ttf') format('truetype'),
       url('fonts/BrushScriptMT.svg#BrushScriptMT') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'XingKai';
  src: url('fonts/XingKai.eot');
  src: url('fonts/XingKai.eot?#iefix') format('embedded-opentype'),
       url('fonts/XingKai.woff') format('woff'),
       url('fonts/XingKai.ttf') format('truetype'),
       url('fonts/XingKai.svg#XingKai') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
