// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .about_container{
//   background-color: peru;
//   position: relative;
//   z-index: -3;
// }

.about_content{
  padding-top: 3.6em;
  margin-left: 23em;
  min-height: 1400px;
}

h2{
  margin-right: 46em;
  border-bottom: groove 1px blue;
  padding-top: 1em;
}

.frame{
  padding-top: 1.5em;
  position: absolute;
  left: 6%;
  z-index: -1;
}

.wanted{
  position: absolute;
  right: 15%;
  z-index: -1;
}

.jR3DCarouselGallery{
  position: absolute;
  margin-top: 1.4em;
  margin-left: 40.5em;
}