@import "colors";
@import "media";

.about-page {
  .bg-image {
    background-size: cover;
    background-position: 50% 35%;
    background-image: url(/about-bg.png);
    /*background-attachment: fixed;*/
    height: 400px;
    padding-top: 40px;

    &:before {
      content: "";
      background: rgba(0, 0, 0, .25);
      height: 453px;  /* 400px bg-img + 53px header*/
      width: 100%;
      position: absolute;
      transform-style: preserve-3d;
      top: 0;
    }
  }

  .avatar-img {
    width: 100px;
    height: 100px;
    background: #fff;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    display: inline-block;
    overflow: hidden;
    float: right;
    margin-top: 20px;

    img {
      width: 100px;
    }
  }

  .profile-item {
    margin: 0;

    .content {
      z-index: 1;

      .name {
        font-family: 'BrushScriptMT';
        font-size: 60px;
        margin-top: 20px;
        opacity: 0.9;
      }

      .typedjs {
        margin-top: 40px;
        pointer-events: none;

        #motto {
          display: inline;
          font-family: 'XingKai';
          opacity: 0.8;
        }
      }
    }
  }

  .experience-segment {
    border-left: 2px dotted black;
    margin-bottom: 0;
    margin-left: 25px;
    padding-bottom: 0;
    position: relative;

    .item {
      position: relative;
      padding-left: 22px;
      margin-bottom: 30px;

      &:before {
        background: $bodyBlue;
        background-size: 100% 100%;
        border: 2px solid #01315a;
        border-radius: 10px;
        content: " ";
        display: block;
        float: left;
        height: 8px;
        left: 0;
        margin-left: -5px;
        margin-top: 10px;
        position: absolute;
        top: 0;
        width: 8px;
      }

      &:first-of-type:after {
        background: $bodyBlue;
        content: " ";
        display: block;
        height: 10px;
        left: -2px;
        position: absolute;
        top: 0;
        width: 2px;
      }
    }
  }

  .section {
    .p-title {
      font-size: 20px;
    }

    .p-title::after {
      background: black;
      height: 3px;
      content: ' ';
      width: 60px;
      display: block;
      margin: 12px 0;  
    }

    p {
      font-size: 16px;
    }
  }

  #message_author, #message_contact_info, #message_body {
    border: none;
    outline: none;
    padding: 5px;
    width: 100%;
  }

  #message_body {
    resize: none;
  }
}

@media only screen and (max-width: $largest-tablet-screen) {
  .profile-container {
    text-align: center;

    #motto {
      font-size: 22px;
      color: #fff;
    }
  }
}

@media only screen and (min-width: $computer-breakpoint) {
  .profile-container {
    float: right;
  }

  #motto {
    font-size: 26px;
    color: #00445d;
  }
}


/* ============ split =======*/

.about_content {
  padding-top: 5em;
  margin-left: 20%;
  min-height: 1500px;
  font-family: "Chalkboard", "Comic Sans MS", "微软雅黑", "MV Boli", "黑体", "楷体", "宋体", "文泉驿等宽微米黑";
  h2 { padding-top: 1em; }
  a { text-decoration: none; color: #265bb7; }
}

.photo {
  margin-top: 5%;
  margin-left: -10%;
}

.jR3DCarouselGallery {
  position: absolute;
  padding-top: 8.2em;
  margin-left: 3em;
}

.piano_video {  margin-left: 50%; margin-top: -20%; }

#wechat {
  height: 400px;
  width: 450px;
  display: none;
  position: fixed;
  top: 20%;
  left: 35%;
  z-index: 1002;
}

#black_overlay {
  display: none;
  position: fixed;
  background-color: black;
  z-index: 1001;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80); 
}

#collapse {
  border: solid 1px black;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
}

.feedback-container {
  margin-top: 10px !important;

  .feedback-body {
    text-area {
      font-size: 14px;
      font-family: "Chalkboard", "Comic Sans MS", "微软雅黑", "MV Boli", "黑体", "楷体", "宋体", "文泉驿等宽微米黑";
      padding: 5px;
    }
  }

  .feedback-submit {
    input {
      color: #0e90d2;
      cursor: pointer;
      border: solid 1px #ddd;
      background-color: #fff;
      padding: 4px 12px;
    }
  }
}

@media only screen and (min-width: 1800px) {
  .about_content { font-size: 1.2em; }

  .jR3DCarouselGallery {
    padding-top: 6.8em;
    margin-left: 2.5em;
  }
}

@media only screen and (max-device-width: 400px) {
  .bk { display: none; }

  .about_content {
    border: solid 1px white;
    box-shadow: 1px 8px 5px #888888;
    padding: 10% 5%;
    margin: 0 5%;
    font-size: 0.6em;
  }

  .photo {
    margin-left: 6px;
    img{
      width: 80%;
      height: 80%;
    }
  } 

  .jR3DCarouselGallery {
    /* position: relative; */
    padding-top: 9em;
    margin-left: 1em;
  }

  .piano_video {
    margin-top: 100px;
    margin-left: -10px;
    embed {
      width: 300px;
      height: 300px;
    }
  }
}