/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  margin: 0; 
  padding: 0;
  background-color: aliceblue;
}

.banner{
  height: 5em;
  background-color: black;
}

#avatar{
  text-align: left;
  margin-left: 10em;
  position: absolute;
}

#name{
  padding-top: 1.5em;
  padding-left: 8.5em;
  font-size: 1.7em;
}

#link{
  margin-top: -1.2em;
  font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 1.7em;
  padding-left: 25em;
  word-spacing: 1em;
}

.banner a{
  color: white;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.banner a:hover{
  color: red;
}

.title{
  padding-top: 2em;
  font-family: 黑体;
  font-size: 2.3em;
  font-weight: bold;
  text-align: center;
}

.body a{
  text-decoration: none;
  color: black;
}

.content{
  text-align: center;
}
