/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require tooltipster.bundle
 */

@import "semantic-ui";
@import "colors";
@import "media";

body {
  margin: 0;
  padding: 0;
  background-color: $bodyBlue;
}

.nav-header {
  background-color: #21303e;
  margin: 0 !important;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;

  .avatar {
    padding: 0.5rem !important;
  }

  .nav-link {
    font-family: "黑体", "Lucida Sans", "Lucida Grande", Verdana, Arial,
      sans-serif;
    word-spacing: 20px;
    font-size: 20px;
  }

  .locale-dropdown {
    min-width: 80px;
    text-align: right;
    color: white;
  }
}

.nav-header a {
  color: white;
  text-decoration: none;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;

  &:hover {
    color: #99b8d4;
  }
}

#backToTopButton {
  right: 50px;
  bottom: 40px;
  z-index: 99;
  width: 40px;
  height: 40px;
  cursor: pointer;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background-color: #00000073;
  border-radius: 20px;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity 0.5s;
  border: none;

  .back-top-icon {
    font-size: 24px;
    line-height: 40px;
    span.c-icon {
      display: inline-block;
      color: inherit;
      font-style: normal;
      line-height: 0;
      text-align: center;
      text-transform: none;
      vertical-align: -0.125em;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
    }
  }
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding: 10px;
  overflow: hidden;
}

.footer-container {
  .media {
    display: inline-block;
    word-spacing: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  .link {
    font-size: 16px;
    word-spacing: 20px;
  }

  .beian {
    color: #666;
  }
}

#flash_notice {
  padding-top: 50px;
  text-align: center;
  background: #feffcf;
}
#flash_alert {
  padding-top: 50px;
  text-align: center;
  background: #ffe6df;
}
#flash_success {
  padding-top: 50px;
  text-align: center;
  background: #bcffbc;
}
.flash-notice {
  text-align: center;
  display: none;
  margin-left: 15%;
  margin-top: 9%;
  position: fixed;
  z-index: 1001;
  padding: 13px;
}

.page-container {
  overflow: hidden;
  margin-top: 20px;
  min-height: calc(100% - 150px);
}

@media only screen and (max-width: $largest-mobile-screen) {
  .page-container {
    margin-top: 0;
  }
}
