// Place all the styles related to the archives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
  margin: 15px 100px 15px 4.3em;
  padding-bottom: 5px;
  font-family: 黑体;
  font-size: 1.5em;
  border-bottom: groove 1px blue;
}

.title a:hover{
  color: blue;
}

.y_m{
  padding-top: 1em;
  font-weight: bold;
  font-size: 30px;
}

.date{
  text-align: right;
  margin-right: 20px;
  margin-top: -34px;
}

.archives_content a{
  text-decoration: none;
  color: black;
}

.archives_content{
  min-height: 800px;
  padding: 5%;
  margin: 0 15%;
  position: relative;
  border: solid 1px white;
  box-shadow: 1px 8px 5px #888888;
}

.flameSVG{
  width: 300px;
  height: 400px;
  margin-left: 75%;
  margin-top: -15%;
  
  position: absolute;
}

.flameContainer{
  cursor: pointer;
}
