// Place all the styles related to the archives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.archives_content{
  min-height: 800px;
  padding: 5% 3%;
  margin: 0 15%;
  border: solid 1px white;
  box-shadow: 1px 8px 5px #888888;
}

.archives_content a{
  text-decoration: none;
  color: black;
}

/*.title, .title_in_tag_show{
  margin: 15px 10px 15px 6em;
  padding-bottom: 5px;
  font-family: '微软雅黑';
  font-size: 1.5em;
  border-bottom: dashed 1px blue;
}*/

.title a:hover, .title_in_tag_show a:hover{ color: #6495ed !important; }

.y_m{
  padding-top: 1em;
  /* font-weight: bold; */
  font-size: 28px;
  color: #5f9ea0;
  font-family: 'Chalkboard', 'Comic Sans MS', 'MV Boli';
}

.date, .date_in_tag_show{
  text-align: right;
  margin-right: 20px;
  margin-top: -35px;
  /* font-family: 'Chalkboard', 'Comic Sans MS', 'MV Boli'; */
}

@media only screen and (max-device-width: 400px){
  .archives_content{
    min-height: 1180px;
    padding: 10% 2% 5% 2%;
    margin: 0 5%;
  }

/*  .title, .title_in_tag_show{
    margin: 35px 10px 15px 1em;
    font-size: 1.3em;
    border-bottom: dashed 1.5px blue;
  }*/

  .date, .date_in_tag_show{
    /* margin-right: 5px;
    margin-top: -51px;
    font-size: 0.6em; */
    display: none;
  }
}
