// Place all the styles related to the archives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.archives_content{
  min-height: 800px;
  padding: 5%;
  margin: 0 15%;
  border: solid 1px white;
  box-shadow: 1px 8px 5px #888888;
}

.archives_content a{
  text-decoration: none;
  color: black;
}

.title{
  margin: 15px 100px 15px 4.3em;
  padding-bottom: 5px;
  font-family: 黑体;
  font-size: 1.5em;
  border-bottom: dashed 1px blue;
}

.title a:hover{
  color: blue !important;
}

.y_m{
  padding-top: 1em;
  font-weight: bold;
  font-size: 30px;
}

.date{
  text-align: right;
  margin-right: 20px;
  margin-top: -35px;
  /* font-family: 'Chalkboard', 'Comic Sans MS', 'MV Boli'; */
}

@media only screen and (max-device-width: 400px){
  .archives_content{
    min-height: 1180px;
    padding: 10% 5% 5% 5%;
    margin: 0 5%;
  }

  .title{
    margin: 15px 10px 15px 3.1em;
    font-size: 2em;
  }

  .date{
    margin-right: 5px;
    margin-top: -40px;
    font-size: 1.3em;
  }
}
