// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";
@import "media";
@import "font-awesome";


/* index page */

.articles-page {
  .article-item {
    margin-top: 20px !important;

    .title {
      font-size: 18px;
      a {
        color: $lightBlack;
        &:hover {
          opacity: 0.8;
        }
      }
    }

    .date {
      float: right;
      color: $cadetBlue;
      opacity: 0.9;
    }

    .tags {
      margin-left: 10px;

      .article-tag {
        margin-left: 15px;
      }
    }
  }

  .article-filters {
    .tags.icon {
      font-size: 12px;
    }
    .action {
      display: inline-block;
      position: relative;
      top: 4px;
    }
  }
}

@media only screen and (max-width: $largest-mobile-screen) {
  .articles-page {
    .article-item {
      padding: 18px 0 !important;
      margin-top: 12px !important;

      .tags {
        display: none;
      }
    }
  }
}


/* show page */

.article-container {
  .title {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    line-height: 1.4;

    &:after {
      content: ' ';
      background-image: linear-gradient(to right, #ffffff, #00182d, #ffffff);
      border-radius: 2px;
      height: 2px;
      display: block;
      margin: 20px 40px 5px;
    }
  }

  .tags {
    padding-top: 10px;
    line-height: 2.2;

    .article-tag {
      margin-left: 20px !important;
    }
  }

  .date {
    padding-top: 10px;
    margin-left: auto;
  }

  .content {
    padding: 30px;
    /*font-family: "Source Sans Pro", "PingFang SC", "Microsoft YaHei", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
    h1, h2, h3 {
      border-bottom: solid 1px #dcdcdc;
      padding: 1em 0 5px 0;
    }
  }

  .content a {
    text-decoration: none;
    color: #6495ed;
  }
  .content a:hover { text-decoration: underline; }

/*  code {
    display: inline-block;
    font-size: 16px;
    background-color: #b0c4de !important;
    border-left: solid 2px #a9a9a9;
    color: #444 !important;
    padding: 1px 4px !important;
    margin: 2px;
    border-radius: 3px;
    word-break: break-all;
    line-height: 20px;
    overflow: auto;
    max-width: 100%;
  }*/

  pre { white-space: pre-wrap; }
}

@media only screen and (max-width: $largest-mobile-screen) {
  .article-container {
    .content {
      padding: 30px 2px 2px;
    }

    .comment-item {
      .ui.image.label, .comment-body {
        line-height: 1.8;
      }
    }
  }
}


// ------typed.js-----
/*.typedjs{
  padding: 2em;
  text-align: center;
}*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
// ------typed.js-----