// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ------show------
#title{
  padding-top: 20px;
  padding-bottom: 15px;
  margin-left: 10em;
  margin-right: 10em;
  text-align: center;
  font-family: 黑体;
  font-size: 1.5em;
  border-bottom: groove 1px blue;
}

#date{
  padding-top: 10px;
  margin-left: 75em;
}

#content{
  margin-top: 1.2em;
  margin-left: 20em;
  margin-right: 20em;
  font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
}
// ------show------


// ------index------
#name{
  font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
  text-align: center;
  font-size: 2em;
  padding-top: 5em;
}

#motto{
  display:inline;
}
// ------index------


// ------typed.js-----
.typedjs{
  padding: 1em;
  text-align: center;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
// ------typed.js-----