// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ------show------
@media only screen and (max-device-width: 400px){
  .article_container{
    margin: 0 2% !important;
  }
}

.article_container{
  min-height: 800px;
  padding: 5%;
  margin: 0 15%;
}

#title{
  padding-top: 30px;
  padding-bottom: 15px;
  margin: 0 5em;
  text-align: center;
  font-family: 黑体;
  font-size: 1.5em;
  border-bottom: groove 1px blue;
}

#date{
  padding-top: 10px;
  text-align: right;
}

#content{
  padding: 10px 35px;
  margin: 30px 0;
  box-shadow: 10px 8px 5px #888888;
  border-top: outset 4px white;
  border-left: outset 4px white;
  border-radius: 2em;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
  /*h2 {
    border-bottom: groove 1px blue;
    padding-bottom: 15px;
  }*/
}

#content a{
  text-decoration: none;
  color: blue;
}

code{
  display: inline-block;
  font-size: 16px !important;
  background-color: #f5f5f5 !important;
  border: 0px;
  color: #444 !important;
  padding: 1px 4px !important;
  margin: 2px;
  border-radius: 3px;
  word-break: break-all;
  line-height: 20px;
}

#SOHUCS{
  position: relative;
  z-index: 1;
}
// ------show------


// ------typed.js-----
.typedjs{
  padding: 2em;
  text-align: center;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
// ------typed.js-----