@import 'colors';

.comments-panel {
  .comment-form {
    .cke_chrome {
      border: 1px solid rgba(34, 36, 38, 0.15);
    }
    .cke_top {
      border-bottom: 1px solid rgba(34, 36, 38, 0.15);
      background: initial;
    }
    .cke_bottom {
      display: none;
    }
  }

  margin-top: 30px;

  .empty {
    color: $lightGrey !important;
    font-weight: normal !important;
  }

  .comment-item {
    .ui.image.label {
      left: -5px;
    }

    .item-left {
      text-align: center;
      border-right: 1px solid rgba(34, 36, 38, 0.15);

      .comment-date {
        color: $cadetBlue;
        margin-top: 8px;
        margin-left: -10px;
        opacity: 0.9;
      }
    }

    .comment-body {
      /*color: #2185D0;*/
      opacity: 0.9;
      display: inline-block;
    }
  }
}
