@font-face {
  font-family: 'BrushScriptMT';
  src: asset-url('fonts/BrushScriptMT.eot');
  src: url('fonts/BrushScriptMT.eot?#iefix') format('embedded-opentype'),
       url('fonts/BrushScriptMT.woff') format('woff'),
       url('fonts/BrushScriptMT.ttf') format('truetype'),
       url('fonts/BrushScriptMT.svg#BrushScriptMT') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.remove-padding {
  padding: 0 !important;
}
