// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ------index------
@media only screen and (min-width: 1800px){
  #motto{
    font-size: 28px !important;
  }

  #name{
    font-size: 6em !important;
    padding-top: 3em !important;
  }
}

#name{
  font-family: "Rage Italic LET", "华文行楷", "Brush Script MT", "Highlight LET", "Freestyle Script", "SignPainter", "Chalkboard", "Ruach LET";
  text-align: center;
  font-size: 4em;
  padding-top: 4em;
}

#motto{
  display: inline;
  font-size: 20px;
  font-family: "楷体", "宋体", "文泉驿等宽微米黑";
}

.container{
  min-height: 700px;
}
// ------index------