// ------index------
@media only screen and (min-width: 1800px) {
  #name {
    font-size: 5.2em !important;
    padding-top: 3.5em !important;
  }

  #motto {
    font-size: 28px !important;
  }
}

@media only screen and (max-device-width: 400px) {
  #name {
    font-size: 3em !important;
    padding-top: 3em !important;
  }

  #motto { font-size: 20px !important; }

  /*.typedjs { margin-top: 1em; }*/

  .container { min-height: 280px !important; }
}

#motto {
  display: inline;
  font-size: 20px;
  font-family: "Chalkboard", "Comic Sans MS", "MV Boli", "楷体", "宋体", "文泉驿等宽微米黑";
}

/*.typedjs {
  position: relative;
  z-index: 2;
  pointer-events: none;
  margin-left: 310px;
}*/
// ------index------