@import "colors";

.msg-board {
  border-right: dashed 1px gray;
  min-height: 750px;
  max-height: 800px;
  /*overflow: scroll;*/
}


.timeline {
  position: relative;
  background-image: linear-gradient(to bottom, #00182d, $bodyBlue 100%);
  background-size: 2px 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;

  .item {
    position: relative;
    float: left;
    clear: both;
    width: calc(50% - 80px);

    .item-circle {
      background: $bodyBlue;
      background-size: 100% 100%;
      border: 2px solid #01315a;
      border-radius: 10px;
      height: 12px;
      left: -6px;
      margin-top: 24px;
      position: absolute;
      top: 15px;
      width: 12px;
    }

    .item-circle.odd {
      right: -6px;
      left: inherit;
    }
  }

  .item:nth-child(2n) {
    /*float: right;*/
    margin-top: 80px;
  }
}