// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tags_index a, .tags_show a{
  text-decoration: none; 
  color: black;
}

.tags_index a:hover, .tags_show a:hover{ color: orange; }

.tags_index, .tags_show{
  min-height: 800px;
  margin: 0 15%;
  border: solid 1px white;
  box-shadow: 1px 8px 5px #888888;
}

.tags_index { padding: 5% 10%; }
.tags_show { padding: 5% 3%; }

.show_tag{      /* 展示的tag*/
  border: solid 2px lightblue;
  box-shadow: 1px 2px 5px lightblue;
  border-radius: 10px;
  padding: 5px;
  margin: 8px;
}

.show_tag a{ 
  text-decoration: none; 
  color: black; 
}

.show_tag a:hover { color: orange; }

.tag{          /* 编辑时待选的tag*/
  border: dashed 1px grey;
  padding: 5px;
  margin: 8px;
  cursor: pointer;
}

.selected_tag{   /* 已选择的tag*/
  border: solid 2px orange;
  padding: 5px;
  margin: 8px;
  cursor: pointer;
}

.show_tag_index{      /* 在标签的index页面展示的tag*/
  border: solid 2px lightblue;
  box-shadow: 1px 2px 5px lightblue;
  border-radius: 10px;
  padding: 2px 6px;
  margin: 10px;
  font-size: 1.5em;
  display: inline-block;
}

@media only screen and (max-device-width: 400px){
  .tags_index, .tags_show{
    min-height: 1180px;
    padding: 10% 2% 5% 2%;
    margin: 0 5%;
  }

  .show_tag_index{      /* 展示的tag*/
    border-radius: 20px;
    margin: 50px 10px 20px 10px;
    font-size: 3em;
  }

  .show_tag{      /* 展示的tag*/
    margin-top: 40px !important;
    margin-right: 20px !important;
    padding: 12px 5px 6px 5px;
  }

  .mobile_tag{
    margin-left: 50px !important;
    font-size: 1.5em !important;
    width: 82% !important;
  }

  .mobile_tag_show{
    padding-top: 30px;
    text-align: center;
    font-size: 0.7em !important;
  }

  .title_in_tag_show{
    font-size: 3em !important;
  }

  .date_in_tag_show{
    font-size: 2em !important;
    margin-top: -50px !important;
  }
}