@import 'colors';
@import 'media';

/* index */
.videos-page {
  .videos-container {
    .video-item {
      display: inline-block;
      opacity: 0.8;

      &:hover {
        opacity: initial;
        transform: scale(1.03);
      };
    }

    .date {
      display: inline-block;
      margin-top: 5px;
      color: $cadetBlue;
    }
  }
}

/* show */
.video-page {
  .video-container {
    .date {
      float: right;
      color: $cadetBlue;
    }

    .actions {
      margin-top: 20px;
    }
  }
}

@media only screen and (min-width: $tablet-breakpoint) and (max-width: $largest-tablet-screen) {
  .videos-page {
    .videos-container {
      .video-item {
        display: initial;
      }
    }
  }
}
